<!-- <div class="navbar">
    <ul>
      <li><a routerLink="" >Inicio</a></li>
      <li><a routerLink="/characters" >Personajes</a></li>
      <li><a routerLink="/locations" >Localizaciones</a></li>
      <li><a routerLink="/episodes" >Episodios</a></li>
    </ul>
</div> -->

<div class="header">
  <div class="container-fluid header">
    <div class="row">
      <div class="col-12 preheader">
        <a routerLink=''><img src="./../../../assets/img/logo.png" alt="" class="col"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 navbar d-flex justify-content-center align-items-center">
        <a routerLink='/characters' class="w-100 text-center mx-5 my-1 px-4 py-2">Personajes</a>
        <a routerLink='/locations' class="w-100 text-center mx-5 my-1 px-4 py-2">Lugares</a>
        <a routerLink='/episodes' class="w-100 text-center mx-5 my-1 px-4 py-2">Episodios</a>
      </div>
    </div>
  </div>
</div>
