<div class="container container__home">
  <div class="row mt-5 home__main">
    <div class="col-12 text-center">
      <img src="https://www.xtrafondos.com/wallpapers/rick-y-morty-fanart-2020-6344.jpg">
    </div>
  </div>
  <div class="row home__desc my-3">
    <div class="col-lg-6 d-flex home__desc--text">
      <h3>Calling The Rick and Morty API</h3>
    </div>
    <div class="col-lg-6">
      <img src="https://www.xtrafondos.com/wallpapers/todos-los-personajes-de-rick-y-morty-5642.jpg" alt="">
    </div>
  </div>
</div>
